.promo {
    margin-bottom: 12px;
    padding-top: 86px;
    padding-bottom: 100px;
    background-image: url(../../../assets/images/promo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.promo::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #283035;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.promo__wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.promo__box {
    max-width: 500px;
    width: 100%;
}

.promo__title {
    margin-bottom: 60px;
    max-width: 500.31px;
    width: 100%;
    position: relative;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    z-index: 2;
}

.promo__title span {
    color: #FFEE2E;
}

.promo__title::before {
    content: "";
    max-width: 465px;
    width: 100%;
    padding: 94.94% 0 0 0;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 100%;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: -73px;
}

.promo__btn {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    display: block;
    max-width: 298px;
    width: 100%;
    margin: 0 auto;
    margin-right: 100px;
    font-size: 15px;
}

.backstage {
    padding-top: 140px;
    padding-bottom: 180px;
    background-image: url(../../../assets/images/flower_backstage.png);
    background-repeat: no-repeat;
    background-size: 200px 605px;
    background-position: 100% 11%;
}

.backstage__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.backstage__img {
    max-width: 609px;
    width: 100%;
    overflow: hidden;
    min-width: 455px;
    min-height: 408px;
    margin-right: 10px;
    position: relative;
}

.backstage__img img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.backstage__content {
    max-width: 465px;
    word-wrap: 100%;
    color: #333B41;
}

.backstage__title {
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 58px;
    font-weight: 400;
}

.backstage__text {
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 21px;
}

.backstage__subtitle {
    margin-bottom: 34px;
    font-size: 24px;
    line-height: 29px;
}

.backstage__work {
    font-size: 16px;
    line-height: 22px;
}

.pets {
    padding-bottom: 100px;
    background-image: url(../../../assets/images/petsLeftBg.png), url(../../../assets/images/petsRightBg.png);
    background-repeat: no-repeat;
    background-position: left bottom, right bottom;
}

.pets__box {
    margin-bottom: 59px;
    position: relative;
}

.pets__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.pets__item {
    margin-bottom: 20px;
    width: 31.53%;
    min-width: 285.24px;
    border: 1px solid #FB772A;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.pets__item::before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.445);
    position: absolute;
    left: 0;
    bottom: -100%;
    z-index: 0;
    transition: bottom 0.45s;
    transition-delay: 0.3s;
}

.pets__item:hover::before {
    bottom: 0;
    transition: bottom 0.5s;
    transition-delay: 0.3s;
}

.pets__img {
    padding: 100.56% 0 0 0;
    min-height: 285.24px;
    max-width: 366px;
    max-height: 366px;
    font-size: 0;
    position: relative;
    overflow: hidden;
}

.pets__img img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scale(1);
    transition: transform 0.9s;
}

.pets__item:hover .pets__img img {
    transform: scale(1.03);
    transition: transform 0.9s;
    z-index: -1;
}

.pets__content {
    padding: 8px 45px 13px 15px;
    background-repeat: no-repeat;
    background-position: 97% 10px;
    min-height: 55px;
}

.pets__content-block {
    transition: all 1s;
    position: static;
    z-index: 4;
}

.pets__item:hover .pets__content-block {
    transform: translateY(-450%);
    color: #fff;
    transition: all 0.9s;
    transition-delay: 0.40s;
}

.pets__content p {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
}

.pets__banana {
    background-image: url(../../../assets/incons/banana.svg);
}

.pets__fish {
    background-image: url(../../../assets/incons/fish.svg);
}

.pets__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
}

.pets__btns {
    padding: 40px;
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pets__btn-arrow {
    width: 62px;
    height: 62px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 100%;
    position: absolute;
    top: 33%;
    transform: translateY(-50%);
}

.pets__btn-arrow:hover {
    background: linear-gradient(113.96deg, #d66f43 1.49%, #cf7610 101.44%);
}

.pets__btn-arrow:active {
    background: linear-gradient(#4B9200, #4B9200);
}

.pets__btn-arrow svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pets__btn-previous {
    right: 20px;
}

.pets__btn-next {
    left: 20px;
}

.pets__btn {
    display: block;
    max-width: 298px;
    width: 100%;
    margin: 0 auto;
    background: #FE9013;
    border-radius: 25px;
    letter-spacing: -1px;
}

.feed {
    margin-bottom: 140px;
    padding-top: 69px;
    padding-bottom: 100px;
    position: relative;
}

.feed::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    z-index: -1;
}

.feed__wrap {
    padding: 41px 58px 59px 95px;
    background: rgba(253, 253, 255, 0.52);
    border-radius: 20px;
}

.feed__title {
    max-width: 963px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #FE9013;
}

.feed__information {
    margin-bottom: 60px;
    color: #333B41;
}

.feed__subtitle {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.feed__text {
    line-height: 21px;
    font-size: 16px;
}

.feed__text--one {
    margin-bottom: 10px;
    font-weight: 500;
}

.feed__text--two {
    font-weight: 400;
    max-width: 863px;
}

.feed__text--two a {
    position: relative;
}

.feed__text--two a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: #FE9013;
    height: 1px;
    width: 100%;
}

.feed__shema-box {
    font-weight: 400;
    font-size: 16px;
}

.feed__shema-title {
    max-width: 958px;
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 47px;
    text-align: center;
}

.feed__shema {
    max-width: 809px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 60px;
    display: flex;
    align-items: flex-start;

}

.feed__item {
    max-width: 168px;
    width: 100%;
    position: relative;
}
.feed__item + .feed__item {
    margin-left: 130px;
}

.feed__item:not(:last-of-type)::after {
    content: "";
    position: absolute;
    right: -96px;
    top: 62px;
    width: 69px;
    height: 35.08px;
    background-image: url(../../../assets/incons/feed-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.feed__item-img {
    margin-bottom: 30px;
    background: #FFFFFF;
    border-radius: 5px;
    width: 168px;
    height: 168px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FE8D1E;
}

.feed__item-title {
    line-height: 22px;
}

.feed__btn {
    display: block;
    max-width: 298px;
    width: 100%;
    margin-left: 33%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px
}

.testimonials {
    padding-bottom: 180px;
    background-image: url(../../../assets/images/testimonials-flower.png);
    background-repeat: no-repeat;
    background-position: right bottom -130px;
}


/* .testimonials__container {
    padding-bottom: 180px;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    background-image: url(../../../assets/images/testimonials-flower.png);
    background-repeat: no-repeat;
    background-position: right bottom -130px;
} */

.testimonials__title {
    margin-bottom: 47px;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    text-align: center;
}

.testimonials__cards {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    max-width: 1162px;
    width: 100%;
    overflow-x: auto;
    position: relative;
}

.testimonials__cards::-webkit-scrollbar {
    height: 0;
    width: 0;
    overflow: hidden;
}

.testimonials__card {
    padding: 15px;
    padding-bottom: 18px;
    max-width: 268px;
    width: 100%;
    height: 391px;
    background: #F1F3F2;
    border-radius: 20px;
    border: 2px solid transparent;
    background: linear-gradient(#F1F3F2, #F1F3F2) padding-box, linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%) border-box, linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%) border-box;
    overflow: hidden;
    flex-shrink: 0;
}

.testimonials__card+.testimonials__card {
    margin-left: 30px;
}

.testimonials__contact {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.testimonials__avatar {
    margin-right: 10px;
    width: 37px;
    height: 37px;
    overflow: hidden;
    border-radius: 100%;
    font-size: 0;
}

.avatar-noname {
    background-image: url(../../../assets/images/noname.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.testimonials__content {}

.testimonials__name {
    margin-bottom: 1px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.testimonials__location {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #BDBDBD;
}

.testimonials__location span {
    display: inline-block;
    padding-left: 16px;
    position: relative;
}

.testimonials__location span::before {
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: #BDBDBD;
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
}

.testimonials__stories {
    max-height: 309px;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #767474;
    overflow-y: auto;
}

.testimonials__stories::-webkit-scrollbar {
    width: 0;
    overflow: hidden;
}

.testimonials-scrollbar {
    margin: 0 auto;
    margin-bottom: 31px;
    max-width: 599px;
    width: 100%;
    height: 8px;
    border: 1px solid transparent;
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%) border-box, linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%) border-box;
    border-radius: 5px;
    cursor: pointer;

}

.testimonials-scrollbar__thumb {
    width: 115.19px;
    height: 6px;
    background: #FE9013;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.5s;
}

.scrollbar__thumb:hover {
    background: #aa600c;
}

.testimonials__btn {
    max-width: 298px;
    width: 100%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
}