        @media (max-width: 1300px) {
            .feed {
                padding: 0 10px;
            }
            .feed__wrap {
                padding: 40px 45px 62px 65px;
            }
        }
        
        @media (max-width: 1100px) {
            .feed__range-wrap {
                padding: 0 9px;
            }
            
        }
        
        @media (max-width: 1000px) {
            .promo {
                background-position: 29% center;
            }
            .informational__title {
                margin-bottom: 30px;
                max-width: 80%;
            }
            .informational__text {
                margin-bottom: 45px;
                font-size: 16px;
            }
            .informational__text span {
                font-weight: 400;
            }
            .informational__box {
                margin-bottom: 41px;
            }
            .feed {
                padding: 0 30px;
            }
            .feed__wrap {
                padding: 20px 45px 46px 47px;
            }
            .feed__title {
                margin-bottom: 9px;
                padding-right: 18px;
                font-weight: 400;
                font-size: 48px;
                line-height: 58px;
            }
            .feed__text {
                margin-bottom: 64px;
            }
            .feed__diet {
                max-width: 555px;
            }
            .feed__form-amount {
                padding: 15px 35px 15px 8px;
                background: rgba(255, 255, 255, 0.52);
            }
            .feed__period {
                max-width: 217px;
            }
            .feed__period label {
                margin-right: 51px;
            }
            .feed__form-btn {
                padding-left: 17px;
            }
            .content-box {
                padding-bottom: 31px;
            }
            .feed__range-wrap {
                max-width: 810px;
            }
            .feed__range{
                max-width: 781px;
                margin-left: 1%;
            }
            .feed__amount-title {
                padding-left: 18px;
                margin-bottom: 15px;
            }
            .feed__diet {
                margin-bottom: 43px;
            }
            .feed__range-box:nth-child(1) {
                display: none;
            }
            .feed__range-wrap {
                max-width: 809px;
                margin-left: 2%;
            }
            .feed__range-wrap::after {
                max-width: 96%;
            }
            .feed__range-box span {
                left: -14px;
                top: 4px;
            }
            .feed__range-box:nth-child(2) span {
                left: -13px;
            }
            .feed__range-box:nth-child(3) span {
                left: -16px;
            }
            .feed__range-box:nth-child(4) span {
                left: -15px;
            }
            .feed__range-box:nth-child(7) span {
                left: -17px;
            }
            .feed__range-box:nth-child(8) span {
                left: -18px;
            }
        }

        @media (max-width: 995px){
            .feed__range {
        
                margin: 0 auto;
            }
        }
        
        @media (max-width: 720px) {
            .feed__title {
                margin-bottom: 20px;
                padding-right: 0;
            }
            .feed__text {
                margin-bottom: 50px;
                text-align: center;
            }
            .feed__diet {
                margin-bottom: 41px;
            }
            .feed__range-box:nth-child(2),
            .feed__range-box:nth-child(3) {
                display: none;
            }
        }
        
        @media (max-width: 640px) {
            .feed {
                padding: 0 20px;
            }
            .promo {
                background-position: 37% center;
                height: 335px;
            }
            .informational__title {
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
                max-width: 100%;
                margin-bottom: 20px;
            }
            .content-box {
                padding-top: 32px;
                padding-bottom: 47px;
            }
            .informational__text {
                margin-bottom: 28px;
                font-size: 16px;
            }
            .informational__box {
                margin-bottom: 29px;
            }
            .feed__wrap {
                padding: 29px 45px 31px 27px;
            }
            .feed__title {
                padding-left: 18px;
            }
            .feed__text {
                margin-bottom: 55px;
                padding-left: 19px;
            }
            .feed__amount-title {
                transform: translateX(-35px);
                margin-bottom: 5px;
            }
            .feed__form-box {
                position: relative;
            }
            .feed__range-wrap {
                position: absolute;
                width: 113.5%;
                left: -38px;
                top: 0;
            }
            .feed__range,
            .feed__range-wrap::after {
                max-width: 522px;
            }
            .feed__range-box span {
                left: -21px;
            }
            .feed__range-box:nth-child(4) span {
                left: -21px;
            }
            .feed__range-box:nth-child(7) span {
                left: -22px;
            }
            .feed__range-box:nth-child(8) span {
                left: -23px;
            }
            .feed__form-amount {
                padding: 8px 32px 10px 5px;
            }
            .feed__amout-box {
                max-width: 182px;
                margin-left: 34.5%;
            }
            .feed__amout-box {
                margin-bottom: 31px;
            }
            .feed__period {
                margin-bottom: 29px;
                max-width: 200px;
            }
            .feed__form-btn {
                padding-left: 9px;
                margin-left: 24%;
            }
            .feed__form-share {
                padding-left: 4%;
            }
        }
        
        @media (max-width: 630px) {
            .feed__wrap {
                padding: 20px 0 20px;
            }
            .feed__range-wrap {
                width: 100%;
                left: 0;
                margin-left: 0;
            }
            
            .feed__amount-title {
                transform: translateX(0px);
            }
            .feed__diet-img {
                min-width: 151.4px;
                min-height: 111.92px;
            }
            .feed__text {
                font-size: 16px;
                padding-left: 0;
                line-height: 22px;
            }
            .feed__range-box span {
                font-weight: 500;
                font-size: 19px;
                line-height: 19px;
                background-size: 10px 15px;
            }
            .feed__range,
            .feed__range-wrap::after {
                max-width: 91%;
            }
            .feed__range-wrap::after {
                max-width: 88%;
            }
            .feed__amount-title {
                transform: translateX(-12px);
            }
            .feed__form-btn,
            .feed__amout-box {
                margin: 0 auto;
                margin-bottom: 30px;
            }
            .feed__text {
                padding-left: 0;
            }
           
        }
        
        @media (max-width: 450px) {
            .informational__post {
                font-size: 24px;
                line-height: 29px;
            }
            .feed__title {
                font-size: 24px;
                line-height: 29px;
            }
            
            .feed__diet-num {
                font-size: 46px;
                line-height: 36px;
            }
            .feed__diet-text {
                font-weight: 400;
                font-size: 9.02255px;
                line-height: 13px;
            }
            .feed__diet-content {
                margin-right: 39px;
            }
            .feed__text {
                margin-bottom: 36px;
            }
            .feed__form-box {
                margin-bottom: 25px;
            }
        }
        
        @media (max-width: 320px) {
            .promo {
                background-position: 33% center;
                height: 187px;
            }
            .informational__text {
                margin-bottom: 28px;
                font-size: 16px;
            }
            .informational__post {
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
            }
            .feed {
                padding: 0 10px;
            }
            .container.feed__wrap {
                max-width: 321px;
                padding: 0px 0px;
                padding-top: 20px;
                padding-bottom: 18px;
            }
            .feed__title {
                margin-bottom: 12px;
                padding-left: 0px;
            }
            
            .feed__text {
                margin-bottom: 12px;
            }
            .feed__diet-content {
                padding-top: 19px;
                margin-right: 48px;
                max-width: 90px;
            }
            .feed__diet-text {
                line-height: 6px;
            }
            .feed__diet-content::after {
                width: 9px;
                height: 7px;
                right: -14px;
                top: 53%;
            }
            .feed__diet {
                margin-bottom: -4px;
            }
            .feed__amount-title {
                transform: translateX(-18px);
                margin-bottom: 8px;
            }
            .feed__range-wrap {
                height: 13px;
            }
            .feed__range-box {
                transform: translateY(8px);
            }
            .feed__range-box label::after {
                width: 5px;
                height: 5px;
                left: -2px;
                top: -24px;
            }
            .feed__range {
                max-width: 92.5%;
            }
            .feed__num:checked+label::before {
                left: -9px;
                top: -32px;
                width: 20px;
                height: 20px;
                background-size: 20px 20px;
            }
            .feed__range-box span {
                font-weight: 500;
                font-size: 13px;
                line-height: 18px;
                background-size: 5px 10px;
                padding-left: 6px;
                top: -8px;
                left: -12px;
            }
            .feed__range-box:nth-child(4) span {
                left: -12px;
            }
            .feed__range-box:nth-child(7) span {
                left: -12px;
            }
            .feed__range-box:nth-child(8) span {
                left: -12px;
            }
            .feed__form-box {
                margin-bottom: -11px;
            }
            .feed__period {
                max-width: 218px;
            }
            .feed__amout-box {
                margin-bottom: 24px;
            }
            .feed__form-btn {
                
                padding-left: 15px;
            }
            .feed__form-share {
                padding-left: 0;
                text-align: left;
                font-size: 15.9px;
            }
            .content-box {
                padding-bottom: 22px;
            }
            .feed__form-amount{
                padding: 10px 32px 10px 7px;
            }
            .feed__period {
                margin-bottom: 26px}
        }