.promo {
    min-height: 187px;
    height: 390px;
    position: relative;
    background-image: url(../../../assets/images/donatePromo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.promo::after {
    content: "";
    background-color: #000;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.content {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.content-box {
    padding-top: 40px;
    padding-bottom: 180px;
}

.informational {
    color: #ffff;
}

.informational__box {
    margin-bottom: 60px;
}

.informational__title {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
}

.informational__text {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.informational__text span {
    font-weight: 400;
}

.informational__post {
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    color: #FE9013;
}

.feed__wrap {
    padding: 40px 92px 62px 92px;
    background: rgba(255, 255, 255, 0.52);
    border-radius: 20px;
    font-weight: 400;
}

.container.feed__wrap {
    max-width: 1161px;
}

.feed__title {
    padding-right: 11px;
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #FE9013;
    font-weight: 400;
}

.feed__text {
    margin-bottom: 60px;
    font-size: 24px;
    line-height: 29px;
    color: #333B41;
}

.feed__diet {
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 48px;
    display: flex;
    align-items: center;
}

.feed__diet-content {
    padding-top: 50px;
    margin-right: 89px;
    max-width: 160px;
    width: 100%;
    text-align: center;
    position: relative;
}

.feed__diet-content::after {
    content: "";
    width: 14px;
    height: 14px;
    background-image: url(../../../assets/incons/cross.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    right: -22px;
    top: 60%;
    transform: translateY(-50%);
}

.feed__diet-num {
    margin-bottom: 11px;
    font-weight: 500;
    font-size: 72px;
    line-height: 58px;
    text-transform: uppercase;
    color: #000000;
}

.feed__diet-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #333B41;
}

.feed__diet-img {
    max-width: 284px;
    width: 100%;
}

.feed__amount-title {
    margin-bottom: 17px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.feed__form {
    position: relative;
    min-height: 75px;
}

.feed__form-box {
    margin-bottom: 50px;
    min-height: 74px;
}

.feed__range {
    margin-bottom: 50px;
    position: relative;
}

.feed__range-wrap {
    max-width: 976px;
    width: 100%;
    margin: 0 auto;
    height: 27px;
    background: #404950;
    border-radius: 2px;
   
}

.feed__range::after {
    content: "";
    max-width: 915px;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #72828E;
}

.feed__range {
    max-width: 915px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.feed__num {
    display: none;
}

.feed__range-box {
    padding-top: 20px;
    transform: translateY(15px);
    z-index: 10;
}

.feed__range-box label {
    position: relative;
}

.feed__range-box span {
    display: inline-block;
    padding-left: 12px;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    text-transform: uppercase;
    color: #333B41;
    background-image: url(../../../assets/incons/dollar-black.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 10px 20px;
    transition: all 0.5s;
    position: absolute;
    left: -31px;
    top: 0;
}

.feed__range-box label::after {
    content: "";
    width: 10px;
    height: 10px;
    background: #FFEE2E;
    border-radius: 100%;
    position: absolute;
    left: -6px;
    top: -26px;
    cursor: pointer;
    z-index: 1;
}

.feed__num:checked+label::before {
    content: "";
    position: absolute;
    left: -21px;
    top: -41px;
    width: 40px;
    height: 40px;
    background-image: url(../../../assets/incons/roller.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px 40px;
}

.feed__num:checked+label span {
    color: #FE9013;
    background-image: url(../../../assets/incons/dollar.svg);
}

.feed__range-box:hover label::before {
    animation: rollerAnimat 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.feed__range-box:hover label::after {
    animation: rollerAnimat 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.feed__range-box:hover span {
    color: #d67608;
    background-image: url(../../../assets/incons/dollar.svg);
    transition: all 0.5s;
}

@keyframes rollerAnimat {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.05);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}

.feed__amout-box {
    margin: 0 auto;
    margin-bottom: 25px;
    position: relative;
    max-width: 268px;
    width: 100%;
}

.feed__amout-box::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    width: 10px;
    height: 20px;
    transform: translateY(-50%);
    background-image: url(../../../assets/incons/dollar-gray.svg);
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.feed__form-amount {
    display: block;
    margin: 0 auto;
    padding: 16px 35px 16px 9px;
    border: 1px solid #929699;
    border-radius: 2px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #929699;
    width: 100%;
}

.feed__form-amount::-webkit-outer-spin-button,
.feed__form-amount::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.feed__form-amount {
    -moz-appearance: textfield;
}

.feed__form-amount::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #929699;
}

.feed__period {
    max-width: 222px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333B41;
}

.feed__period label {
    margin-right: 56px;
    padding-left: 26px;
    position: relative;
    cursor: pointer;
}

.feed__period label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border: 1px solid #FE9013;
    border-radius: 100%;
    cursor: pointer;
}

.feed__period input {
    display: none;
}

.feed__period input:checked+span::before {
    content: "";
    position: absolute;
    left: 3.1px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: #FE9013;
    border-radius: 100%;
}

.feed__form-btn {
    max-width: 298px;
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 30.02px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    font-size: 15px;
}

.feed__form-share {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333B41;
}