.footer {
    padding-top: 41px;
    padding-bottom: 50px;
    background: #111115;
    color: #FFFFFF;
}

.footer__search {
    margin-bottom: 36px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__form-title {
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.footer__form {
    display: block;
}

.footer__form-box {
    max-width: 366px;
    width: 100%;
}

.form__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 366px;
    width: 100%;
}

.form__email {
    display: block;
    margin-right: 10px;
    max-width: 228px;
    width: 100%;
    padding: 10px;
    padding-right: 7px;
    border-radius: 2px;
    border: 0.7px solid transparent;
    background: linear-gradient(#111115, #111115) padding-box, linear-gradient(#F9804B 0%, #FE9013 100%) border-box;
    color: #BDBDBD;
    outline: none
}

.form__email:invalid {
    background: linear-gradient(#111115, #111115) padding-box, linear-gradient(#D31414 0%, #D31414 100%) border-box;
}

.form__email:invalid+.submit-btn {
    border: 1px solid #D31414;
    color: #D31414;
}

.form__email::placeholder {
    color: #BDBDBD;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.submit-btn {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 129px;
    width: 100%;
    background: #F1F3F2;
    border: 1px solid #333B41;
    border-radius: 5px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333B41;
    transition: all 0.5s;
}

.submit-btn:hover {
    border: 1px solid #4B9200;
    background: #F1F3F2;
    color: #4B9200;
}

.footer__btn {
    display: block;
    max-width: 298px;
    width: 100%;
    margin-bottom: 44px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
}

.footer__contact {
    display: flex;
    align-items: flex-end;
}

.footer__menu {
    margin-right: 13.73%;
}

.social {
    margin-right: 24.3%;
    max-width: 120px;
    width: 100%;
}

.social__item:not(:last-of-type) {
    margin-bottom: 10px;
}

.social__link {
    display: flex;
    align-items: center;
    transition: all 0.5s;
}

.social__link:hover {
    color: #4B9200;
}

.social__link:hover .social__link-icon {
    background: #4B9200;
}

.social__link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    width: 26px;
    height: 26px;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 100%;
    transition: all 0.5s;
}

.social__link-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.footer__menu a {
    font-weight: 400;
}

.footer__copy {
    font-weight: 100;
    font-size: 16px;
    line-height: 21px;
}

.footer__copy p:first-child {
    margin-bottom: 10px;
}


/*----- @media -----*/

@media (max-width: 1200px) {
    .footer__contact {
        justify-content: space-between;
    }
    .social {
        margin-right: 3.3%;
    }
}

@media (max-width: 1000px) {
    .social {
        margin-right: 17.3%;
    }
    .footer__form-title {
        margin-bottom: 14px;
    }
    .form__email {
        padding: 9px;
    }
    .form__email::placeholder,
    .form__email {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }
    .footer__form-box {
        max-width: 400px;
    }
    .footer__menu {
        margin-right: 8.73%;
    }
    .footer__copy {
        font-size: 15px;
        letter-spacing: 0.5px;
    }
}

@media (max-width: 850px) {
    .footer__form-box {
        display: none;
    }
    .footer__box {
        position: relative;
    }
    .footer .social {
        margin-right: 0;
        position: absolute;
        right: 0;
        top: 0;
        max-width: 26px;
    }
    .footer .social__link-name {
        display: none;
    }
    .footer .social__link-icon {
        margin-right: 0;
    }
    .footer__menu {
        margin-right: 0;
    }
}

@media (max-width: 640px) {
    .footer {
        padding-top: 12px;
    }
    .social__item:not(:last-of-type) {
        margin-bottom: 21px;
    }
    .footer__search {
        margin-bottom: 34px;
    }
    .footer__btn {
        margin-bottom: 67px;
    }
    .footer .menu li+li {
        margin-left: 37px;
    }
}


/*----- @media -----*/