html {
    box-sizing: border-box;
}

body {
    position: relative;
}

*,
::after,
::before {
    box-sizing: inherit;
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
blockquote,
li,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

img {
    max-width: 100%;
    object-fit: cover;
}

.container {
    padding: 0 10px;
    max-width: 1181px;
    width: 100%;
    margin: 0 auto;
}

.btn {
    padding: 16px 10px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
}