.header {
    padding: 14px 0;
    background: #000000;
    backdrop-filter: blur(2px);
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    position: relative;
    z-index: 5;
}

.header-wrap {
    display: flex;
    align-items: center;
}

.logo-title a {
    padding-top: 1.5px;
    margin-right: 63px;
    width: 82px;
    height: 52px;
    left: 0px;
    top: 0px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 23px;
    text-align: center;
}

.logo-title a::after {
    content: "";
    background-image: url(../../assets/incons/bamboo.svg);
    width: 13.03px;
    height: 20.98px;
    transform: rotate(-3deg);
    position: absolute;
    bottom: 7px;
    left: 8px;
    background-repeat: no-repeat;
    background-size: contain;
}

.menu ul {
    display: flex;
    align-items: center;
}

.menu li+li {
    margin-left: 58px;
}

.menu a {
    color: #FFFFFF;
}

.menu li:hover a {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.rights {
    margin-left: auto;
}

.rights:hover a {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.menu__link--active {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.menu li:hover .menu__link--active {
    background: #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/*----- @media -----*/

@media (max-width: 1000px) {
    .header {
        background-color: #111115;
    }
    .menu li+li {
        margin-left: 48px;
    }
}


/*----- @media -----*/