body,
html {
    font: 16px/1.4 Georgia, serif;
}

.page {
    max-width: 400px;
    padding: 2rem;
    margin: 0 auto;
    text-align: center;
    user-select: none;
}

h1 {
    font: 2rem/1.2 georgia, serif;
    margin-bottom: 1em;
}

.fifteen {
    width: 100%;
    padding-bottom: 100%;
    background-color: #f6f0d6;
    margin-bottom: 1.5rem;
    position: relative;
}

.item {
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    height: 25%;
    padding: 0;
    border: 0;
    margin: 0;
    background-color: #000;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: inset 0 0 1px #fff;
    transition: transform 70ms;
}

.item .val {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84%;
    height: 84%;
    margin: 8%;
    box-shadow: inset 0 0 2px red;
}