body,
html {
    font: 16px/1.4 serif;
    position: relative;
    overflow-x: hidden;
}

body {
    max-width: 1660px;
    width: 100%;
    margin: 0 auto;
}

.page {
    max-width: 400px;
    padding: 2rem;
    margin: 0 auto;
    text-align: center;
    user-select: none;
}

h1 {
    font: 2rem/1.2 georgia, serif;
    margin-bottom: 1em;
}

.fifteen {
    width: 100%;
    padding-bottom: 100%;
    background-color: #f6f0d6;
    margin-bottom: 1.5rem;
    position: relative;
}

.item {
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    height: 25%;
    padding: 0;
    border: 0;
    margin: 0;
    background-color: #000;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: inset 0 0 1px #fff;
    transition: transform 70ms;
}

.item .val {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84%;
    height: 84%;
    margin: 8%;
    box-shadow: inset 0 0 2px red;
}

.btn-sound {
    width: 20px;
    height: 20px;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../assets/images/icon/soundOn.svg);
}

.btn-sound--off {
    background-image: url(../assets/images/icon/soundOff.svg);
}

.audio-move-tile {
    display: none;
}

.fifteen[data-mode-num="3"] .item {
    width: 33%;
    height: 33%;
}

.fifteen[data-mode-num="5"] .item {
    width: 20%;
    height: 20%;
    font-size: 1.5rem;
}

.page[data-mode-num="6"] {
    max-width: 500px;
}

.page[data-mode-num="6"] .item {
    width: 16.7%;
    height: 16.7%;
    font-size: 1.5rem;
}

.page[data-mode-num="7"] .item {
    width: 14.3%;
    height: 14.3%;
    font-size: 1.2rem;
}

.page[data-mode-num="8"] .item {
    width: 12.5%;
    height: 12.5%;
    font-size: 1rem;
}

.btns-wrap button {
    padding: 5px 0 5px;
    display: block;
    width: 100%;
}

button {
    cursor: pointer;
}

.btns-wrap .btn-sound {
    max-width: 60px;
    width: 100%;
    padding: 12px 0 12px;
    border: 1px solid;
    background-color: rgba(223, 223, 223, 0.151);
    position: relative;
}

.btn-sound::after {
    content: 'звук';
    position: absolute;
    right: -40px;
    top: 50%;
    font-size: 19px;
    transform: translateY(-50%);
    font: 16px/1.4 serif;
}

.btns-wrap button:not(:last-child) {
    margin-bottom: 10px;
}

.wrap-mode {
    margin: 15px 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-mode {
    cursor: pointer;
}

.btn-mode:not(:last-child) {
    margin-right: 10px;
}

.inform-table {
    display: flex;
    align-items: center;
}

.inform-table div:first-child {
    margin-right: auto;
}

.message {
    max-width: 430px;
    width: 100%;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(1000%, -50%);
    transition: transform 0.8s;
}

.message__content {
    border-radius: 10px;
    margin: 0 5px;
    padding: 15px 10px;
    background-color: rgba(0, 0, 0, 0.932);
}

.game-win .message-win--active {
    transform: translate(-50%, -50%);
    transition: transform 0.8s;
}

.message-win {
    z-index: 5;
}

.message-save {
    z-index: 10;
}

.message-save--active {
    transform: translate(-50%, -50%);
    transition: transform 0.8s;
}

.message__title {
    font-size: 21px;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}

.message-win--active .message__text p {
    margin: 0;
    font-size: 18px;
}

.fifteen--disbled::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.514);
    position: absolute;
    left: 0;
    top: 0;
}

button.restart {
    display: none;
}